<ion-header></ion-header>
<ion-content id="home" class="ion-content">
    <ion-slides [speed]="500" [loop]="true" pager class="sliderNews">
        <ion-slide *ngFor="let slides of slideItems | async">
          <img class="card-img" [src]="slides.slideImg" (click)="showNewsInfo(slides)">
          <div class="card-title"><span class="card-title-cat" [innerHTML]="slides.title" (click)="showNewsInfo(slides)"></span></div>
        </ion-slide>
      </ion-slides>
    
      <ion-grid *ngIf="(matchitems | async) as matches; else loading">
        <ion-row>
          <ion-col no-padding>
            <div class="DateBox"><i class="fa fa-fire fafire"></i>  <div class="DateText"> مباريات اليوم </div></div>
          </ion-col>
        </ion-row>
        
        <div *ngIf="matches.length > 0; else nomatches">
        <ion-row class="grid-css" *ngFor="let match of matches" (click)="showMatchInfo(match)">
          <ion-col col-1>
            <img width="50px" height="25px" src="assets/img/teamsicon/{{match.away_bdg}}.png">
          </ion-col>
          <ion-col class="grid-text">
            {{match.away}}
          </ion-col>
          <ion-col class="match-time" col-2>
            <div class="match-time-text">{{match.time}}</div>
          </ion-col>
          <ion-col class="grid-text">
            {{match.home}}
          </ion-col>
          <ion-col col-1>
            <img width="50px" height="25px" src="assets/img/teamsicon/{{match.home_bdg}}.png">
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>
      <ng-template #nomatches>
          <span class="nomatchestoday">لاتوجد مباريات اليوم 🙄⚽️</span>
      </ng-template>

      <ng-template #loading>
        <span class="nomatchestoday">جاري تحميل جدول المباريات ...</span>
      </ng-template>

      <ion-card *ngFor="let item of items | async">
        <div class="card-news-image" *ngIf=item.isShown (click)="showNewsInfo(item)">
        <img [src]="item.img"/>
        </div>
        <ul class="card-ul" (click)="showNewsInfo(item)">
          <li class="card-title-news"> {{item.title}} </li>
          <li class="card-subtitle-news" [innerHTML]="item.desc"></li>
        </ul>
      </ion-card>

</ion-content>