page-media {
    .ion-content {
        background-color: color($colors, body);
    }
    
    .top-space {
        background-color: color($colors, body);
        height: 30px;
    }

    .scroll-bar-indicator{
          display: none;
    }

    .masonry { /* Masonry container */
        column-count: 2;
        column-gap: 2px;

    }
    img {
        border-radius: 8px!important;
    }
    .item { /* Masonry bricks or child elements */
        background-color: color($colors, body);
        display: inline-block;
        margin: 2px;
        width: 100%;

    }

    /* The Masonry Container */
    .masonry {
    margin: 6px;
    max-width: 768px;
    column-gap: 3px;
    margin-top: 20px;
    }

    /* The Masonry Brick */
    .item {
    background-color: color($colors, body);
    padding: 2px;
    margin: 0 0 0;
    }

    /* Masonry on large screens */
    @media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 2;
    }
    }

    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
    }

    /* Masonry on small screens */
    @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
    }
    }
}
